#root {
  margin: 0 auto;
  text-align: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(182, 165, 124);
  width: 100vw;
}

footer {
  background-color: rgb(182, 165, 124);
  padding: 4px 0;
  text-align: center;
}

.sidebar {
  background-color: rgb(230, 221, 201);
  color: #fff;
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 60px;
  margin-top: 64.9px;
}
.sidebar-inner {
  padding: 20px;
}
.sidebar h2 {
  margin-top: 0;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar ul li {
  margin-bottom: 10px;
}
.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}
.sidebar ul li a:hover {
  text-decoration: underline;
}

.about-text {
  text-align: center;
  margin-left: 200px;
}

.homepage-text {
  text-align: center;
  margin-left: 220px;
}

.footer-link {
  margin-left: 220px;
  text-align: center;
}

.moreInfo-text {
  text-align: center;
  margin-left: 220px;
}
